+listTitle("marterials")
div.section_content
	dl.links-list
		+dt("国外")
		+dd('http://tympanus.net/codrops/',"codrops")
		+dd("http://tutorialzine.com/","tutorialzine","tutorialzine")
		+dd("http://www.html5rocks.com/zh/tutorials/","html5rocks")
		+dd("http://code.tutsplus.com/","tutsplus")
		+dd("http://www.sitepoint.com/","sitepoint")
		+dd("https://www.smashingmagazine.com/","smashingmagazine")
		+dd("http://callmenick.com/?page_posts=1","callmenick")
		+dd("https://scotch.io/","scotch")
		+dd("https://www.freecodecamp.com","freecodecamp")
		+dd("https://uptodate.frontendrescue.org/","frontendrescue")
		+dd("http://www.lesslinks.com/","lesslinks")
	dl.links-list
		+dt("国内")
		+dd("http://www.w3cplus.com/","http://www.w3cplus.com/")
		+dd("http://www.w3ctech.com/","w3ctech")
		+dd("http://www.75team.com/","奇舞团")
		+dd("https://www.qianduan.net/","前端观察")
		+dd("http://www.css88.com/","WEB前端开发")
		+dd("http://blog.jobbole.com/","伯乐在线")
		+dd("http://www.cnblogs.com/","博客园")
		+dd("http://www.hubwiz.com/","汇智网")
		+dd("http://caibaojian.com/","前端开发博客")
		+dd("http://www.alloyteam.com/","alloyteam")
		+dd("http://ued.taobao.org/blog/category/bowen/frontend/","淘宝ued")
		+dd("http://www.58img.com/","前端资源网")
		+dd("http://www.w3cmark.com/","前端笔记")
	dl.links-list
		+dt("问答社区")
		+dd("http://www.zhihu.com/","知乎")
		+dd("https://segmentfault.com/","segmentfault")
		+dd("http://stackoverflow.com/","stackoverflow")
		+dd("https://www.quora.com/","quora")
	dl.links-list
		+dt("博客")
		+dd("http://www.ruanyifeng.com/blog/","阮一峰")
		+dd("http://www.zhangxinxu.com/wordpress/","张鑫旭")
		+dd("http://www.cnblogs.com/rubylouvre/","司徒正美")
		+dd("http://www.cnblogs.com/Darren_code/","聂微东")
		+dd("http://www.cnblogs.com/Wayou/","刘哇勇")
		+dd("http://www.cnblogs.com/dolphinX/","Samaritans")
		+dd("http://www.cnblogs.com/hustskyking/","李靖")
	
	

