+listTitle("tools")
div.section_content
	dl.links-list
		+dt("gulp")
		+dd("http://www.w3ctrain.com/2015/12/22/gulp-for-beginners/","入门")
		+dd("https://github.com/Platform-CUF/use-gulp","use-gulp")
		+dd("https://segmentfault.com/a/1190000004915222","资料大全")
	dl.links-list
		+dt("webpack")
		+dd("http://www.cnblogs.com/vajoy/p/4650467.html","入门")
		+dd("https://github.com/petehunt/webpack-howto","petehunt/webpack-howto")
		+dd("https://blog.madewithlove.be/post/webpack-your-bags/","webpack-your-bags")
		+dd("http://survivejs.com/","survive webpack")
		+dd("http://www.pro-react.com/materials/appendixA/","Webpack for React")
		+dd("http://www.christianalfoni.com/articles/2015_04_19_The-ultimate-webpack-setup","webpack-setup")
	dl.links-list
		+dt("git")
		+dd("http://rogerdudler.github.io/git-guide/index.zh.html","入门")
		+dd("http://backlogtool.com/git-guide/cn/intro/intro1_1.html","猴子都能懂的git入门")
		+dd("https://www.codeschool.com/learn/git","codeschool for git")
		+dd("https://www.atlassian.com/git/tutorials/syncing/","git tutorial")
		+dd("http://gitbook.liuhui998.com/","Git Community Book")
		+dd("http://gitref.org/zh/creating/","git参考手册")
	dl.links-list
		+dt("在线编辑")
		+dd('http://codepen.io/',"codepen")
		+dd("http://jsbin.com/","jsbin")
		+dd("https://jsfiddle.net/","jsfiddle")
		+dd("http://cssdeck.com/","cssdeck")
		+dd("http://sassmeister.com/","sass")
	dl.links-list
		+dt("谷歌插件")
		+dd("https://chrome.google.com/webstore/detail/google-translate/aapbdbdomjkkjkaonfhkkikfgjllcleb?hl=zh-CN","google翻译")
		+dd("https://chrome.google.com/webstore/detail/http-headers/hplfkkmefamockhligfdcfgfnbcdddbg?utm_source=chrome-app-launcher-info-dialog","HTTP Headers")
		+dd("https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?utm_source=chrome-app-launcher-info-dialog","react developer tools")
		+dd("https://chrome.google.com/webstore/detail/snappysnippet/blfngdefapoapkcdibbdkigpeaffgcil?utm_source=chrome-app-launcher-info-dialog","snappysnippet")
