+listTitle('videos')
div.section_content
	dl.links-list
		+dt("国内")
		+dd("http://www.imooc.com/course/list","慕课网")
		+dd("http://www.jikexueyuan.com/","极客学院")
		+dd("http://open.163.com/","网易公开课")
		+dd("http://study.163.com/","网易云课堂")
		+dd("http://www.ycku.com/course/","瓢城web俱乐部")
		+dd("http://mooc.guokr.com/","MOOC学院")
		+dd("http://haoduoshipin.com/all","好多视频网")
		+dd("http://www.miaov.com/2013/miaovideo/miaovideo.html","秒味")
	dl.links-list
		+dt("youtube")
		+dd("https://www.youtube.com/user/DevTipsForDesigners","DEVTIPS")
		+dd("https://www.youtube.com/user/LevelUpTuts","LEVELUpTuts")
		+dd("https://www.youtube.com/user/learncodeacademy","LearnCode.academy")
		+dd("https://www.youtube.com/channel/UC6Ak0hMzttpQYAxzTe8kx7A","Coding with Jesse")
		+dd("https://www.youtube.com/channel/UCzVnCG4ItKitN1SCBM7-AbA?spfreload=10","Javascript Planet")
		+dd("https://www.youtube.com/channel/UC7i8XymNVC4W7SF9GoIW_5Q","I'm Designer")
		+dd("https://www.youtube.com/channel/UC7hGe1r4OCi4PAltgU_q0ew","Udemy Preview")
		+dd("https://www.youtube.com/channel/UChTJTbr5kf3hYazJZO-euHg","NodeJS Fan")
	dl.links-list
		+dt("国外")
		+dd("https://egghead.io/","egghead")
		+dd("https://www.udemy.com/","udemy")
		+dd("https://www.lynda.com/","lynda")
		+dd("https://teamtreehouse.com/","teamtreehouse")
		+dd("http://gotoandlearn.com/index.php","gotoandlearn")
		

